@import "@fontsource-variable/inter";
@import "@fontsource-variable/newsreader";
@import "@fontsource-variable/jetbrains-mono";

@import "tailwindcss";

@theme {
    --font-serif: "Newsreader Variable", "Iowan Old Style", Georgia, serif;
    --font-sans: "Inter Variable", -apple-system, system-ui, sans-serif;
    --font-mono: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, monospace;


    --color-fg: #f5f5f8;
    --color-fg-2: #a0a0b4;
    --color-fg-3: #82829a;

    --color-bg: #1c1f2e;
}